<div class="row">
  <div class="col-xs-12 col-sm-4">
    <img class="details-img" src="{{movie?.poster_path}}" />
  </div>
  <div class="col-xs-12 col-sm-8">
    <h2>{{movie?.title}}</h2>
    <h3>{{movie?.tagline}}</h3>
    <div class="meta-wrap">
      <div *ngFor="let item of movie?.spoken_languages">{{item.english_name}} </div><br>
      <span class="rating">rating : {{movie?.vote_average}} </span>
      <span class="meta">{{movie?.runtime}} min. / {{movie?.release_date |date:'yyyy'}}</span>
    </div>

    <h3>Genres</h3>
    <ul class="genres">
      <li *ngFor="let item of movie?.genres">
        {{item.name}}
      </li>
    </ul>

    <h3>Studios</h3>
    <ul class="genres">
      <li *ngFor="let item of movie?.production_companies">
        {{item.name}}
      </li>
    </ul>
</div>

<div>
  <h2>Commentaires</h2>

  <form class="formComment" [formGroup]="commentForm" (ngSubmit)="addComment()">
    <label for="rating">Note : </label>
    <input id="rating" type="text" formControlName="rating" required>
    <label for="text">Texte : </label>
    <input id="text" type="text" formControlName="text" required>
    <button type="submit">Submit</button>
  </form>

  <div *ngFor="let item of comments" class="comments">
    <div class="note">
      <div>Note : </div>
      <div class="rating"> {{ item.rating }}</div>
    </div>
    <div class="comment" >
      {{ item.text }}
    </div>
  </div>
</div>
