.details-img {
  max-width: 100%;
  object-fit: contain;
}

.genres {
  padding-left: 0;
  display: flex;
}

.genres li {
  list-style-type: none;
  margin-right: 1em;
}

.comments {
  display: flex;
  flex-direction: row;
}

.comment {
  min-width: 400px;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-bottom: 1em;
  margin-left:1em;
}

.note {
  display: flex;
  flex-direction: row;
}

.formComment {
  margin-bottom: 1em;
}
